

<!-- Page Content -->
<div class="container"> 
	
	<!-- Marketing Icons Section -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> Welcome </h1>
		</div>
		<div class="row">
		
		
		<div class="col-md-8">
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h4>Login</h4>
			  </div>
			  <div class="panel-body">
				
				
				Dashboard
				
				
			  </div>
			</div>
			  
			</div>
			
		
		<div class="col-md-4">
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="panel-title">Help</h3>
			  </div>
			  <div class="panel-body">
				Panel content
			  </div>
			</div>
			  
			</div>	
			
		</div>
		
		
		
		
	</div>
	
	<hr>
	
	<!-- Call to Action Section -->
	<div class="well">
		<div class="row">
			<div class="col-md-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
			</div>
			<div class="col-md-4"> <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a> </div>
		</div>
	</div>
	<hr>
	
	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Your Website 2014</p>
			</div>
		</div>
	</footer>
</div>


