<!-- Page Content -->
<div class="container"> 
	
	<!-- Marketing Icons Section -->
	<div class="row">
		
		
		<div class="resume">
    <header class="page-header">
    <h1 class="page-title">Hyderabad <i class="fa fa-arrows-h"></i> Mumbai</h1>
    <small> <i class="fa fa-clock-o"></i> <time>Sunday, October 05, 2014</time> 06:00</small>
  </header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300">
              </figure>
              
              <div class="row">
                <div class="col-xs-12 social-btns">
                  
                    <h4><a><i class="fa fa-user"></i> John doe</a></h4>
				<h4>30 years old</h4>
                  
                </div>
              </div>
              
            </div>

            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item"><strong><i class="fa fa-location-arrow"></i> Departure point:</strong> Hyderabad</li>
                <li class="list-group-item"><strong><i class="fa fa-map-marker"></i> Drop off point :</strong> Mumbai</li>
                <li class="list-group-item"><strong>3</strong> seats left </li>
                <li class="list-group-item"><i class="fa fa-car"></i> Sedan </li>
                <li class="list-group-item"><strong><i class="fa fa-calendar"></i> Departure date :</strong> Sunday 31 May</li>
				<li class="list-group-item"><strong><i class="fa fa-clock-o"></i> Departure time :</strong> 06:00</li>
              </ul>
			  <button type="button" class="btn btn-primary"><i class="fa fa-mobile"></i> Contact car owner</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Trip details</h4>
        <p>
         Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu, 
         te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
        </p>
        <p>
            Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis. 
            Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.

        </p>
		<hr/>
		<div class="row">
		<div class="col-md-4">Return date</div>
		<div class="col-md-8">Sunday 31 May, 06:00</div>
		</div>
		<div class="row">
		<div class="col-md-4">Car</div>
		<div class="col-md-8">Hyundai Grand i10 </div>
		</div>
		<div class="row">
		<div class="col-md-4">Luggage size</div>
		<div class="col-md-8">Medium (travel bag) </div>
		</div>
		<div class="row">
		<div class="col-md-4">Major cities covered</div>
		<div class="col-md-8">Solapur, daund, pune and kalyan  </div>
		</div>
		
      </div>
	  
	  <div class="bs-callout bs-callout-danger">
        <h4>Car owner</h4>
       
		<div class="row">
		<div class="col-md-4">Name</div>
		<div class="col-md-8">John doe</div>
		</div>
		<div class="row">
		<div class="col-md-4">Age</div>
		<div class="col-md-8">30 years old</div>
		</div>
		<div class="row">
		<div class="col-md-4">Ride offered</div>
		<div class="col-md-8">None </div>
		</div>
		<div class="row">
		<div class="col-md-4">Last online</div>
		<div class="col-md-8">Tuesday 26 May  </div>
		</div>
		<div class="row">
		<div class="col-md-4">Member since</div>
		<div class="col-md-8">20 May 2015   </div>
		</div>
		
      </div>
      
    </div>

  </div>
</div>
    
</div>
		
	</div>
	<!-- /.row --> 
	
	<!-- Portfolio Section -->
	
	
	<!-- /.row -->
	
	<hr>
	
	<!-- Call to Action Section -->
	<div class="well">
		<div class="row">
			<div class="col-md-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
			</div>
			<div class="col-md-4"> <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a> </div>
		</div>
	</div>
	<hr>
	
	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Your Website 2014</p>
			</div>
		</div>
	</footer>
</div>
<!-- /.container --> 