


<!-- Page Content -->
<div class="container"> 
	
	<!-- Marketing Icons Section -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> Signup with CabAxe </h1>
		</div>
		<div class="row">
		
		
		<div class="col-md-8">
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h4>Signup</h4>
			  </div>
			  <div class="panel-body">
				
				
				<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Full name</label>
            <input type="text" name="name" class="form-control" ng-model="formData.name" required>
			<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
			<span class="help-block" ng-show="errorName">{{ errorName }}</span> 
        </div>

                
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="formData.email" required>
			<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
			<span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span> 
        </div>
		
		<!-- PASSWORD -->
        <div class="form-group"  ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="formData.password" ng-minlength="3" required>
			<p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">password is required.</p>
			<span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span> 
        </div>
        
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
				
				
			  </div>
			</div>
			  
			</div>
			
		
		<div class="col-md-4">
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="panel-title">Help</h3>
			  </div>
			  <div class="panel-body">
				Panel content
			  </div>
			</div>
			  
			</div>	
			
		</div>
		
		
		
		
	</div>
	
	<hr>
	
	<!-- Call to Action Section -->
	<div class="well">
		<div class="row">
			<div class="col-md-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
			</div>
			<div class="col-md-4"> <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a> </div>
		</div>
	</div>
	<hr>
	
	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Your Website 2014</p>
			</div>
		</div>
	</footer>
</div>
